@import "tailwindcss";
html,
body {
  width: 100%;
  overflow-x: clip;
}

/* Fallback for browsers that don't support `overflow-x: clip` */
@supports not (overflow-x: clip) {
  html,
  body {
    overflow-x: hidden;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* About Section Styling */
.about-hero {
  margin-top: 120px; /* fix mt-30 issue */
  padding: 60px 20px;
}

/* Right content adjustment */
.about-hero .right-content {
  position: relative;
}

/* Background map */
.about-hero .map-bg {
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

/* Marker position */
.about-hero .map-marker {
  position: absolute;
  top: 156%;
  left: 15.5%;
  cursor: pointer;
}